CONFIG_TOUCHSCREEN_MTK_TOUCH="hxchipset chipone jdchipset novatek"
CONFIG_CUSTOM_PROJECT_OT11=y
CONFIG_TCPC_AW35615=m
CONFIG_TCPC_CPS8851=m
CONFIG_GXY_PSY_SYSFS=m
CONFIG_BATTERY_ID_ADC=m
CONFIG_DRM_PANEL_BIAS_VDO=m
CONFIG_DRM_LCD_HX83102E_XX_INX_VIDEO=m
CONFIG_DRM_LCD_NL9951_GX_BOE_VIDEO=m
CONFIG_DRM_LCD_HX83102E_LC_HKC_VIDEO=m
CONFIG_DRM_LCD_JD9366TC_XX_HKC_VIDEO=m
CONFIG_DRM_LCD_NT36523D_LC_HSD_VIDEO=m
CONFIG_DRM_LCD_HX83102E_CD_INX_VIDEO=m
CONFIG_DRM_LCD_HX83102E_GX_HSD_INCELL_VIDEO=m
# Tab A9 code for AX6739W-3 by caiyang at 20250820 start
CONFIG_DRM_LCD_HX83102E_CD_INX_NEW_VIDEO=m
# Tab A9 code for AX6739W-3 by caiyang at 20250820 end
CONFIG_DRM_LCD_DEFAULT_MIPI_FHD_VIDEO=m
CONFIG_CHARGER_UPM6910X=m
CONFIG_CHARGER_SC89601D=m
CONFIG_CUSTOM_PROJECT_OT11_DATA=y
/*Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 start*/
CONFIG_GXY_PSY_SYSFS=m
/*Tab A9 code for SR-AX6739A-01-490 by qiaodan at 20230504 end*/
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 start
CONFIG_AFC_CHARGER=m
# Tab A9 code for SR-AX6739A-01-499 by wenyaqi at 20230515 end
# Tab A9 code for SR-AX6739A-01-494 by qiaodan at 20230502 start
CONFIG_TCPC_ET7304=m
# Tab A9 code for SR-AX6739A-01-494 by qiaodan at 20230502 end
